/* KEYFRAMES */

@keyframes shake-keyframes {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}

@keyframes skeleton-keyframes {
  0% {
    background-color: hsla(201, 20%, 80%, 0.3);
  }
  50% {
    background-color: hsla(200, 20%, 90%, 0.3);
  }
  100% {
    background-color: hsla(200, 20%, 95%, 0.3);
  }
}

@keyframes vibrate-keyframes {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(2px, -2px);
  }
  60% {
    transform: translate(-2px, -2px);
  }
  80% {
    transform: translate(2px, 2px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes pop-keyframes {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(0.95);
  }
  70% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
